/* common shared styles */
body {
	font-family: 'Lato', sans-serif;
	font-family: 'Open Sans', sans-serif;
}

.button-primary {
	border-radius: 8px;
	background: #E55473;
	border: 0;
	color: #FFF;
	font-size: 20px;
	font-weight: 700;
	padding: 15px 35px;
	margin-top: 30px;
}

.section-title {
	color: #272727;
	text-align: center;
	font-size: 40px;
	font-weight: 800;
	margin-top: 130px;
}

.section-description {
	color: rgba(39, 39, 39, 0.60);
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	padding: 0 450px;
}

/* header related styles */
.header {
	background-color: rgba(229, 84, 115, 0.10);
}

.banner {
	padding: 50px 50px 0 180px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.banner-content {
	max-width: 700px;
}

.banner .banner-pic {
	width: 600px;
	margin-bottom: 0;
}

.banner-title {
	color: #272727;
	font-size: 80px;
	font-weight: 800;
	margin-bottom: 30px;
}

.banner-description {
	color: rgba(39, 39, 39, 0.60);
	font-size: 18px;
	font-weight: 400;
}

/* main section styles */

/* feature section style */
.feature {
	/* margin: 0px auto; */
	/* max-width: 1440px; */
}

.feature-container {
	display: flex;
	/* align-items: center; */
	justify-content: center;
	gap: 24px;
	margin: 48px auto;
	max-width: 1030px;
}

.pink {
	border-radius: 300px 300px 0px 0px;
	background: rgba(167, 33, 98, 0.15);
	background-image: url('../pngwing\ 6.png');
	width: 364px;
	height: 438px;
	background-repeat: no-repeat;
	text-align: center;
}


.green {
	border-radius: 300px 300px 0px 0px;
	background: rgba(5, 151, 160, 0.15);
	background-image: url('../pngwing\ 5.png');
	width: 364px;
	height: 438px;
	background-repeat: no-repeat;
	text-align: center;
}

.ash {
	border-radius: 300px 300px 0px 0px;
	background: rgba(71, 125, 17, 0.15);
	background-image: url('../pngwing\ 7.png');
	width: 364px;
	height: 438px;
	background-repeat: no-repeat;
	text-align: center;
}

.caption {
	color: #272727;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	text-decoration-line: underline;
	margin-top: 450px;
	margin-bottom: 128px;
}

/* delivery section styles */

.delivery {
	width: 700px;
	height: 320px;
	border-radius: 8px;
	background: rgba(39, 39, 39, 0.05);
	display: flex;
	justify-content: center;
	margin: 128px auto;
	padding: 85px 175px;
}

.same {
	color: rgba(39, 39, 39, 0.80);
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	line-height: 35px;
	padding: 66px 0;
}

/* deal section styles */
.deal {
	display: flex;
	background: rgba(229, 84, 115, 0.05);
	padding: 150px 400px;
}

.button-deal{
	border-radius: 8px;
	background: #E55473;
	border: 0;
	color: #FFF;
	font-size: 20px;
	font-weight: 700;
	padding: 15px 35px;
	margin-top: 30px;
}

.left{
	color: #272727;
	text-align: center;
	font-size: 40px;
	font-weight: 800;
	/* margin-top: 130px; */
}

.banner .left-pic {
	width: 600px;
	/* margin-bottom: 0; */
}


/* instagram section*/
.instagram-container{
	display: flex;
	justify-content: center;
	gap: 24px;
	margin: 48px auto;
}

